*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.max-width{
    max-width: 1200px;
}
.container{
    display:flex;
    flex-direction: column;
    margin:auto;
}

/**** NAV ***/
header{
    display: flex;
    align-items: center;
    height:60px;
    padding:1rem;
    padding-left:0;
    margin:auto;
}
header h1 span {
    color:rgb(250, 155, 12) ;
}
/************************** WEATHER CONTAINER **********************/
.weather-container{
    border:1px solid rgb(232, 232, 232);
    width:590px;
    height:500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 138, 38);
    color:white;
}
.weather-container > * {
    padding:10px;
}
.weather-container span{
    background-color: rgb(196, 196, 196);
    border-radius:10px;
    padding:5px;
    color:black;
}

.weather-container div img {
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.weather-container p {
    font-size:1.4rem;
}
.weather-container h2{
    font-size:2.5rem;
}
/************************************************************************/
/************ MAP ****************/
.map-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0
}

#map{
    width:590px;
    height:500px;
}

/**************** INPUT LOCATION DIV ********************************/
.input-location{
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.input-location .search{
    margin-right:.3rem;
}
.input-location .input{
    height:2rem;
    width:250px;
    border-radius:5px;
    border:1px solid gray;
    outline: none;
}
.input-location .search button{
    height:2rem;
    width:7rem;
    background-color: rgb(250, 155, 12);
    border:none;
    border-radius:5px;
    color:white;
    cursor: pointer;
    transition: 0.4s;
    outline: none;
}
.input-location .search button:hover{
    border:1px solid  rgb(250, 155, 12);
    background-color: white;
    color: rgb(250, 155, 12);
}
.input-location button{
    height:2rem;
    width:7rem;
    background-color: rgb(250, 155, 12);
    border:none;
    border-radius:5px;
    color:white;
    cursor: pointer;
    transition: 0.4s;
    outline: none;
}
.input-location button:hover{
    border:1px solid  rgb(250, 155, 12);
    background-color: white;
    color: rgb(250, 155, 12);
}

/****************** LOCATIONS *******************************/
.locations-container{
    margin-top:1rem; 
    background-color: rgb(235, 235, 235);
}

@media(max-width:1201px){
    .map-weather{
        flex-direction: column;
    }
    header nav{
        margin:auto;
    }
}

@media (max-width:580px){
    .input-location{
        display:block;
        margin:auto;
    }
    .input-location .search{
        display:flex;
        flex-direction: column;
    }
    .input-location .search button{
        width:250px;
        margin-top:.6rem;
    }
    .myloc-btn button{
        width:250px;
        margin-top: .6rem;
        padding:0;
    }
}